body {
  background-color: #FAEBD7;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 70px;
  text-align: center;
}

h2 {
  color: #778899;
 font-style: normal;
 font-size: 40px;
 font-family: sans-serif;
 text-align: center;
}

p{
  font-family: sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: circle;
  background-color: LightGray;
  background-position: center;
  font-style: normal;
  font-family: sans-serif;
  
}
