header {
  background-image: url(https://i.ytimg.com/vi/5k8bvXmN_T0/maxresdefault.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
}

body {
background-color: #F2F2F2
}

h1 {
  color: black;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

h2 {
color: #778899;
 font-style: normal;
 font-size: 25px;
 font-family: sans-serif;
 text-align: center;
}

p{
  font-style: sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 12px;
  padding-left: 80px;
  padding-right: 80px;
}

ul {
  list-style-type: circle;
  background-color: LightGray;
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;  
}
